
.aboutSection {
	background-color: #668877;
	padding: 5em;
}

.img{
	width: 15%;
	border-radius: 50%;
	border: .2em solid #FFFFFF;
	display: block;
	margin: auto;
}

.h2 {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	font-family: 'Questrial';
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	padding: 1em 2em 1em 2em;
	margin-top: 0;
	display: block;
	margin: auto;
}

.p {
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: 'Poppins';
	width: 750px;
	display: block;
	margin: auto;
	justify-content: center;
}

@media (max-width: 800px) {
	.aboutSection {
		padding: 50px 5px 50px 5px;
	}

	.img {
		width: 100px;
	}

	.h2 {
		font-size: 20px;
	}

	.p {
		width: 98%;
		font-size: 13px;
	}
}

@media (min-width: 800px) {
	.img {
		width: 200px;
	}
}
