
.h2 {
	font-size: 2em;
	font-weight: lighter;
	text-align: center;
	font-family: 'Bebas Neue';
	color: #FFFFFF;
	letter-spacing: .1em;
	padding: 1em 2em 1em 2em;
	margin-top: 0;
	display: block;
	margin: auto;
}

.p {
	color: #FFFFFF;
	font-size: 1.15em;
	text-align: center;
	font-family: 'Poppins';
	padding: 2em 2em 0 2em;
	display: block;
	margin: auto;
}

.img{
	width: 15%;
	border-radius: 50%;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: .2em;
	display: block;
	margin: auto;
}

@media (max-width: 500px) {
	.img {
		width: 75px;
	}
}

@media (min-width: 1000px) {
	.img {
		width: 200px;
	}
}

.backgroundColor {
	background-color: #668877;
}

.sectionPadding {
	padding: 5em;
}

.pPadding {
	padding: 0 20em 0 20em;
}
