
/* .footer {
	height: 50px;
} */

.hr {
	border-style: ridge;
}

.social {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding: 20px;
}

.svg {
	width: 2.5em;
	padding-left: 5em;
	padding-right: 5em;
}

.svg:hover {
	transform: scale(1.25);
}

.copyright {
	display: flex;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
}

.p {
	font-family: 'Poppins';
	font-size: 15px;
	padding-bottom: 20px;
	letter-spacing: .1em;
}

.logo {
	width: 2.5em;
}

@media (max-width: 800px) {
	.svg {
		width: 30px;
		padding-left: 22px;
		padding-right: 22px;
	}

	.p {
		font-size: 10px;
		align-items: center;
	}

	.logo {
		width: 35px;
	}
}

/* @media (max-height: 700px) {
	.footer {
		position: relative;
	}
} */