
.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #225588;
}

.social {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding: 20px 40px 10px 40px;
}

.svg {
	width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.15s;
}

.svg path {
	fill: #FFFFFF;
}

.svg:hover {
	transform: scale(1.25);
}

.copyright {
	display: flex;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
}

.p {
	font-family: 'Montserrat';
	color: #FFFFFF;
	font-size: 13px;
	padding-bottom: 10px;
	letter-spacing: .2em;
}

@media (max-width: 800px) {
	.svg {
		width: 50px;
	}

	.p {
		font-size: 10px;
		align-items: center;
	}
}
