@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@400;600;700&family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 auto;
}
