
.helloSection {
	padding: 13em;
}

.h1 {
	color: #225588;
	font-size: 70px;
	text-align: center;
	font-family: 'Poppins';
	text-transform: uppercase;
	text-shadow: #94AFC9 1.5px 1.5px 2px;
	margin: auto;
}

.h2 {
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	font-family: 'Questrial';
	letter-spacing: .1em;
	margin-top: 0;
}

.svg {
	display: block;
	margin: 0 auto 0 auto;
	width: 400px;
}

@media (max-width: 800px) {
	.helloSection {
		padding: 5px;
	}
	
	.h1 {
		font-size: 35px;
	}

	.h2 {
		font-size: 20px;
	}

	.svg {
		width: 50%;
	}
}
