
.projectsSection {
	padding: 25px 75px 75px 75px;
	align-content: center;
	display: flex;
	justify-content: center;
}

.ul {
	list-style-type: none;
	align-self: center;
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-column-gap: 70px;
	grid-row-gap: 70px;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
}

.projDiv {
	width: 350px;
	height: 410px;
	padding: 0px;
}

.li {
	align-content: center;
}

.h3 {
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	letter-spacing: .05em;
}

.imgDiv {
	overflow: hidden;
	width: 100%;
	height: 350px;
	border-radius: 2%;
	position: relative;
	box-shadow: 0 20px 50px rgba(0,0,0,.05), 0 5px 10px rgba(0,0,0,.2);
}

.img {
	width: 100%;
	height: 100%;
	opacity: 0.65;
	display: block;
	position: relative;
}

.button {
	background-color: #5E8270;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	border-style: solid;
	border-color: #5E8270;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
}

.link {
	background-color: #5E8270;
	color: white;
	font-family: 'Montserrat';
	text-transform: lowercase;
	font-weight: lighter;
	letter-spacing: .1em;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	opacity: 1;
}

@media (min-width: 1100px) {
	.button {
		opacity: 0;
	}
	
	.link {
		opacity: 0;
	}
	
	.projDiv .link {
		transition: all 0.5s;
	}
	
	.projDiv:hover .button {
		opacity: 1;
	}
	
	.projDiv:hover .link {
		opacity: 1;
	}

	.imgDiv .img {
		transition: all 0.5s;
		transform: scale(1);
	}
	
	.imgDiv:hover .img {
		transform: scale(1.1);
		opacity: 1.0;
	}
}

@media (max-width: 1400px) {
	.ul {
		grid-template-columns: 350px 350px;
	}
}

@media (max-width: 900px) {
	.ul {
		grid-template-columns: 350px;
		grid-row-gap: 30px;
	}
}

@media (max-width: 500px) {
	.projectsSection {
		padding: 10px 5px 10px 5px;
	}
	
	.ul {
		grid-template-columns: 300px;
		grid-row-gap: 20px;
	}

	.projDiv {
		width: 300px;
		height: 340px;
	}

	.h3 {
		font-size: 13px;
	}

	.imgDiv {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 325px) {	
	.ul {
		grid-template-columns: 200px;
		grid-row-gap: 10px;
	}
	
	.projDiv {
		width: 200px;
		height: 240px;
	}

	.h3 {
		font-size: 13px;
	}

	.imgDiv {
		width: 200px;
		height: 200px;
	}
}
