
.projectsSection {
	padding: 25px 75px 75px 75px;
	align-content: center;
	display: flex;
	justify-content: center;
}

.ul {
	list-style-type: none;
	align-self: center;
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-column-gap: 70px;
	grid-row-gap: 70px;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
}

.projDiv {
	width: 100%;
	height: 100%;
	padding: 0px;
}

.h3 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}

.imgDiv {
	overflow: hidden;
	border: solid;
	border-color: #898C96;
	border-radius: 2.5%;
}

.img {
	width: 100%;
	height: 100%;
}

.imgDiv .img {
    transition: all 0.5s;
    transform: scale(1);
}

.imgDiv:hover .img {
	transform: scale(1.25);
}

@media (max-width: 1400px) {
	.ul {
		grid-template-columns: 350px 350px;
	}
}

@media (max-width: 900px) {
	.ul {
		grid-template-columns: 350px;
	}
}

@media (max-width: 500px) {
	.ul {
		grid-template-columns: 300px;
		grid-row-gap: 20px;
	}
}

@media (max-width: 300px) {
	.projectsSection {
		padding: 10px 5px 10px 5px;
	}
	
	.ul {
		grid-template-columns: 200px;
		grid-row-gap: 20px;
	}
	
	.projDiv {
		justify-self: center;
	}

	.h3 {
		font-size: 13px;
	}
}
